<div class="footertop">
    <div class="footerstart">
        <div class="footerrow">
            <div class="rowleft">
                <h4 class="footertext">KNOW IT ALL FIRST!</h4>
                <p class="footertext2">Never Miss Anything From Multikart By Signing Up To Our Newsletter. </p>
            </div>
            <div class="rowright">
                <div class="inputemeile">
                    <input class="inputemeli" type="email" placeholder="Enter your email">
                </div>
                <div>
                    <button type="submit" class="butSub">subscribe</button>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="footercenter">
    <div class="kart">
        <div class="brand2"><img src="../../../assets/images/brand.png">
        </div>
        <div class="lorm">
            <p _ngcontent-serverapp-c2626171195="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, </p>
        </div>
        <div>
            <ul class="footersocial">
                <li><i class="fa fa-facebook"></i></li>
                <li><i class="fa fa-google-plus"></i></li>
                <li><i class="fa fa-twitter"></i></li>
                <li><i class="fa fa-instagram"></i></li>
                <li><i class="fa fa-rss"></i></li>
            </ul>
        </div>
    </div>
    <div class="information">
        <div>
            <h4 class="informationTitle">Categories</h4>
        </div>
        <div>
            <ul class="informationcontant">
                <li class="informationList">Womens Fashion</li>
                <li class="informationList">Mens Fashion</li>
                <li class="informationList">Kids Fashion</li>
                <li class="informationList">Featured</li>
            </ul>
        </div>
    </div>

    <div class="information">
        <div>
            <h4 class="informationTitle">why we choose</h4>
        </div>
        <div>
            <ul class="informationcontant">
                <li class="informationList">shipping & return</li>
                <li class="informationList">secure shopping</li>
                <li class="informationList">gallary</li>
                <li class="informationList">affiliates</li>
                <li class="informationList">contacts</li>
            </ul>
        </div>
    </div>

    <div class="information">
        <div>
            <h4 class="informationTitle">store information</h4>
        </div>
        <div>
            <ul class="informationcontant">
                <li class="informationList"> <i class="fa fa-map-marker"
                        style="color: #777777; padding-right: 10px;  font-size: 11px; text-align: center;"></i>Multikart
                    Demo Store, Demo store India 345-659</li>
                <li class="informationList store"> <i class="fa fa-phone"
                        style="color: #777777; padding-right: 10px; font-size: 11px; text-align: center;"></i>Call
                    Us: 123-456-7898</li>
                <li class="informationList store"> <i class="fa fa-envelope-o"
                        style="color: #777777; padding-right: 10px; font-size: 11px; text-align: center;"></i>
                    Email Us: Support#Fiot.com</li>
                <li class="informationList store" style="width: 80px;"> <i class="fa fa-fax"
                        style="color: #777777; padding-right: 10px; font-size: 11px;"></i>Fax: 123456</li>
            </ul>
        </div>
    </div>
</section>


<div class="footerbottom">
    <div class="footerend">
        <div>
            <P class="footerendleft"><i class="fa fa-copyright"
                    style="color: #777777; font-size: 12px; padding-right: 3px;"></i> 2024 theme forest powered
                by pixelstrap</P>
        </div>
        <div class="footerendright">
            <ul>
                <li class="imglist">
                    <img src="../../../assets/images/visa.png" style="width: 25px; padding: 0px 7px;">
                </li>
                <li class="imglist">
                    <img src="../../../assets/images/mastercard.png" style="width: 25px; padding: 0px 5px;">
                </li>
                <li class="imglist">
                    <img src="../../../assets/images/paypal.png" style="width: 25px; padding: 0px 5px;">
                </li>
                <li class="imglist">
                    <img src="../../../assets/images/amex-icon.png" style="width: 25px; padding: 0px 5px;">
                </li>
                <li class="imglist">
                    <img src="../../../assets/images/discover.png" style="width: 25px; padding: 0px 5px;">
                </li>
            </ul>
        </div>
    </div>
</div>