<section class="blogpage">
    <div class="containerblog">
        <div class="mainblog">

            
            <div class="blogmedia">
                <div class="blogimg">
                    <a href="https://angular.pixelstrap.com/multikart/pages/blog/details"><img width="403.5px"
                            height="238px" [src]="productList[0].image"></a>
                </div>
                <div class="blogtitle">
                    <div class="blogtitr">
                        <h6 class="moonblog">25 January 2018</h6>
                    </div>
                    <a href="https://angular.pixelstrap.com/multikart/pages/blog/details">
                        <h4 class="youhow">you how all this mistaken idea of denouncing pleasure and praising
                            pain was born.</h4>
                    </a>
                    <ul class="post">
                        <li>Posted By : Admin Admin </li>
                        <li class="postdetail"><i class="fa-solid fa-heart"></i> 5 Hits </li>
                        <li class="postdetail"><i class="fa-solid fa-comments"></i> 10 Comment</li>
                    </ul>
                    <p class="Consequences">Consequences that are extremely painful. Nor again is there anyone
                        who loves or pursues or desires to obtain pain of itself, because it is pain, but
                        because occasionally circumstances occur in which toil and pain can procure him some
                        great pleasure.</p>
                </div>
            </div>


            <div class="blogmedia">
                <div class="blogimg">
                    <a href="https://angular.pixelstrap.com/multikart/pages/blog/details"><img width="403.5px"
                            height="238px" [src]="productList[1].image"></a>
                </div>
                <div class="blogtitle">
                    <div class="blogtitr">
                        <h6 class="moonblog">25 January 2018</h6>
                    </div>
                    <a href="https://angular.pixelstrap.com/multikart/pages/blog/details">
                        <h4 class="youhow">you how all this mistaken idea of denouncing pleasure and praising
                            pain was born.</h4>
                    </a>
                    <ul class="post">
                        <li>Posted By : Admin Admin </li>
                        <li class="postdetail"><i class="fa-solid fa-heart"></i> 5 Hits </li>
                        <li class="postdetail"><i class="fa-solid fa-comments"></i> 10 Comment</li>
                    </ul>
                    <p class="Consequences">Consequences that are extremely painful. Nor again is there anyone
                        who loves or pursues or desires to obtain pain of itself, because it is pain, but
                        because occasionally circumstances occur in which toil and pain can procure him some
                        great pleasure.</p>
                </div>
            </div>

            <div class="blogmedia">
                <div class="blogimg">
                    <a href="https://angular.pixelstrap.com/multikart/pages/blog/details"><img width="403.5px"
                            height="238px" [src]="productList[2].image"></a>
                </div>
                <div class="blogtitle">
                    <div class="blogtitr">
                        <h6 class="moonblog">25 January 2018</h6>
                    </div>
                    <a href="https://angular.pixelstrap.com/multikart/pages/blog/details">
                        <h4 class="youhow">you how all this mistaken idea of denouncing pleasure and praising
                            pain was born.</h4>
                    </a>
                    <ul class="post">
                        <li>Posted By : Admin Admin </li>
                        <li class="postdetail"><i class="fa-solid fa-heart"></i> 5 Hits </li>
                        <li class="postdetail"><i class="fa-solid fa-comments"></i> 10 Comment</li>
                    </ul>
                    <p class="Consequences">Consequences that are extremely painful. Nor again is there anyone
                        who loves or pursues or desires to obtain pain of itself, because it is pain, but
                        because occasionally circumstances occur in which toil and pain can procure him some
                        great pleasure.</p>
                </div>
            </div>

            <div class="blogmedia">
                <div class="blogimg">
                    <a href="https://angular.pixelstrap.com/multikart/pages/blog/details"><img width="403.5px"
                            height="238px" [src]="productList[3].image"></a>
                </div>
                <div class="blogtitle">
                    <div class="blogtitr">
                        <h6 class="moonblog">25 January 2018</h6>
                    </div>
                    <a href="https://angular.pixelstrap.com/multikart/pages/blog/details">
                        <h4 class="youhow">you how all this mistaken idea of denouncing pleasure and praising
                            pain was born.</h4>
                    </a>
                    <ul class="post">
                        <li>Posted By : Admin Admin </li>
                        <li class="postdetail"><i class="fa-solid fa-heart"></i> 5 Hits </li>
                        <li class="postdetail"><i class="fa-solid fa-comments"></i> 10 Comment</li>
                    </ul>
                    <p class="Consequences">Consequences that are extremely painful. Nor again is there anyone
                        who loves or pursues or desires to obtain pain of itself, because it is pain, but
                        because occasionally circumstances occur in which toil and pain can procure him some
                        great pleasure.</p>
                </div>
            </div>

        </div>


        <div class="blogsidebar">
            <div class="Recent">
                <h4 class="Recenttitr">Recent Blog</h4>
                <ul class="recentblog">
                    <li class="recentlist">
                        <div class="Recentmedia">
                            <img width="100px" height="59px"
                            [src]="productList[0].image">
                            <div class="dec">
                                <h6 class="dectitr">25 Dec 2018</h6>
                                <p class="postlike">0 hits</p>
                            </div>
                        </div>
                    </li>
                    <li class="recentlist">
                        <div class="Recentmedia">
                            <img width="100px" height="59px"
                            [src]="productList[1].image">
                            <div class="dec">
                                <h6 class="dectitr">25 Dec 2018</h6>
                                <p class="postlike">0 hits</p>
                            </div>
                        </div>
                    </li>
                    <li class="recentlist">
                        <div class="Recentmedia">
                            <img width="100px" height="59px"
                            [src]="productList[2].image">
                            <div class="dec">
                                <h6 class="dectitr">25 Dec 2018</h6>
                                <p class="postlike">0 hits</p>
                            </div>
                        </div>
                    </li>
                    <li class="recentlist">
                        <div class="Recentmedia">
                            <img width="100px" height="59px"
                            [src]="productList[3].image">
                            <div class="dec">
                                <h6 class="dectitr">25 Dec 2018</h6>
                                <p class="postlike">0 hits</p>
                            </div>
                        </div>
                    </li>
                    <li class="recentlist">
                        <div class="Recentmedia">
                            <img width="100px" height="59px"
                            [src]="productList[0].image">
                            <div class="dec">
                                <h6 class="dectitr">25 Dec 2018</h6>
                                <p class="postlike">0 hits</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="PopularBlog">
                <h4 class="Recenttitr">Popular Blog</h4>
                <ul class="Popular">
                    <li class="Popularlist">
                        <div class="Popularmedia">
                            <div class="datamay">
                                <span class="may3">03 may</span>
                            </div>
                            <div class="Injected">
                                <h6 class="Injectedtitr">Injected humour the like</h6>
                                <p class="posthit">0 hits</p>
                            </div>
                        </div>
                        <p class="posthit">it look like readable English. Many desktop publishing text. </p>
                    </li>
                    <li class="Popularlist">
                        <div class="Popularmedia">
                            <div class="datamay">
                                <span class="may3">03 may</span>
                            </div>
                            <div class="Injected">
                                <h6 class="Injectedtitr">Injected humour the like</h6>
                                <p class="posthit">0 hits</p>
                            </div>
                        </div>
                        <p class="posthit">it look like readable English. Many desktop publishing text. </p>
                    </li>
                    <li class="Popularlist">
                        <div class="Popularmedia">
                            <div class="datamay">
                                <span class="may3">03 may</span>
                            </div>
                            <div class="Injected">
                                <h6 class="Injectedtitr">Injected humour the like</h6>
                                <p class="posthit">0 hits</p>
                            </div>
                        </div>
                        <p class="posthit">it look like readable English. Many desktop publishing text. </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>